<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"

>
<head>
    <meta charset="UTF-8">
    <title>Registrar nuevo usuario</title>
</head>
<body>

<div layout:fragment="contenido_dinamico" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="bg-white shadow rounded p-5">
                <h3>Registro de Usuario</h3>

                <form th:action="@{''}" method="post" th:object="${usuario}">
                    <div class="mb-2">
                        <label>Nombres</label>
                        <input type="text" id="nombres" placeholder="Nombres"
                               th:field="*{nombres}"
                               class="form-control"
                               th:errorclass="is-invalid"
                        >
                        <div th:errors="*{nombres}"
                             th:if="${#fields.hasErrors('nombres')}"
                             class="invalid-feedback"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label>Apellidos</label>
                        <input type="text" id="apellidos" placeholder="Apellidos"
                               th:field="*{apellidos}"
                               class="form-control"
                               th:errorclass="is-invalid"
                        >
                        <div th:errors="*{apellidos}"
                             th:if="${#fields.hasErrors('apellidos')}"
                             class="invalid-feedback"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label>Email</label>
                        <input type="email" id="email" placeholder="Email"
                               th:field="*{email}"
                               class="form-control"
                               th:errorclass="is-invalid"
                        >
                        <div th:errors="*{email}"
                             th:if="${#fields.hasErrors('email')}"
                             class="invalid-feedback"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label>Contraseña</label>
                        <input type="password" id="password1" placeholder="Contraseña"
                               th:field="*{password1}"
                               class="form-control"
                               th:errorclass="is-invalid"
                        >
                        <div th:errors="*{password1}"
                             th:if="${#fields.hasErrors('password1')}"
                             class="invalid-feedback"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label>Repite la contraseña</label>
                        <input type="password" id="password2" placeholder="Repite la contraseña"
                               th:field="*{password2}"
                               class="form-control"
                               th:errorclass="is-invalid"
                        >
                        <div th:errors="*{password2}"
                             th:if="${#fields.hasErrors('password2')}"
                             class="invalid-feedback"
                        >
                        </div>
                    </div>

                    <div class="text-end mt-3">
                        <a href="/login" class="btn btn-ligth">Cancelar</a>
                        <button class="btn btn-primary">Registrarme</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>